# Code

In [ ]:
import pandas as pd

In [2]:
# Read data CSV formatted.
sheet1 = pd.read_csv("Adops & Data Scientist Sample Data - Q1 Analytics.csv")
sheet2 = pd.read_csv("Adops & Data Scientist Sample Data - Q2 Regression.csv", header=None)

In [4]:
# We check the shape of the dataset and the number of unique users.
print(sheet1.shape)
len(sheet1.user_id.unique())

(3553, 4)

1916

#### Q1-1

Consider only the rows with country_id = "BDV" (there are 844 such rows). For each site_id, we can compute the number of unique user_id's found in these 844 rows. Which site_id has the largest number of unique users? And what's the number?

In [5]:
# We extract entries whose country_id is bdv.
bdv = sheet1[sheet1['country_id']=="BDV"]

In [6]:
print(bdv.head())
print(bdv.shape)

                     ts user_id country_id site_id
13  2019-02-01 00:47:58  LC3C22        BDV   N0OTG
32  2019-02-01 02:46:15  LC375A        BDV   5NPAU
87  2019-02-01 06:44:42  LC392E        BDV   N0OTG
88  2019-02-01 07:36:56  LC3FAE        BDV   5NPAU
94  2019-02-01 08:58:35  LC3AFF        BDV   3POLC
(844, 4)

In [10]:
# Group bdv by site_id and check unique users.
bdv.groupby('site_id').nunique()
 # bdv.groupby('site_id')['user_id'].nunique()

          ts  user_id  country_id  site_id
site_id
3POLC      5        2           1        1
5NPAU    716      544           1        1
N0OTG    122       90           1        1

In [12]:
# This is a gerenal overview across the countries.
sheet1.groupby(['country_id', 'site_id'])['user_id'].nunique()

country_id  site_id
BDV         3POLC        2
            5NPAU      544
            N0OTG       90
HVQ         3POLC       16
            GVOFK       59
K1R         3POLC        3
            N0OTG        2
NVV         N0OTG       18
QLT         3POLC        3
            5NPAU      630
            N0OTG       63
TL6         3POLC       12
            5NPAU        2
            EUZ/Q        1
            JSUUP        2
            N0OTG      430
            QGO3G      353
            RT9Z6        2
XA7         N0OTG       77
Name: user_id, dtype: int64

#### Q1-2

Between 2019-02-03 00:00:00 and 2019-02-04 23:59:59, there are four users who visited a certain site more than 10 times. Find these four users & which sites they (each) visited more than 10 times. (Simply provides four triples in the form (user_id, site_id, number of visits) in the box below.)

In [13]:
# We extract the entries that fall under the timezone of our focus.
betweenTime = sheet1[(sheet1.ts>='2019-02-03 00:00:00')&(sheet1.ts<='2019-02-04 23:59:59')]

In [14]:
# We group the data by user_id and site_id, and check unique entries.
# You may just count the timestamps per user per site.
temp = betweenTime.groupby(['user_id','site_id']).nunique()

In [39]:
# temp[temp.country_id>1]

In [40]:
# Retrieve the users who visited a certain website more than ten times.
temp[temp.ts>10]

                 ts  user_id  country_id  site_id
user_id site_id
LC06C3  N0OTG    25        1           1        1
LC3A59  N0OTG    26        1           1        1
LC3C7E  3POLC    15        1           1        1
LC3C9D  N0OTG    17        1           1        1

#### Q1-3

For each site, compute the unique number of users whose last visit (found in the original data set) was to that site. For instance, user "LC3561"'s last visit is to "N0OTG" based on timestamp data. Based on this measure, what are top three sites? (hint: site "3POLC" is ranked at 5th with 28 users whose last visit in the data set was to 3POLC; simply provide three pairs in the form (site_id, number of users).)

In [41]:
# sheet1[sheet1.user_id == 'LC3561']
# sheet1.loc[sheet1.user_id=='LC3837']
# sheet1.groupby('user_id').nunique()

In [42]:
# We group the data by users and create a groupby object.
users = sheet1.groupby(['user_id'])

<class 'pandas.core.groupby.generic.DataFrameGroupBy'>

In [45]:
# This is a time-series data.  The last entry will be the log of the last visit per user.
lastVisitPerUser = users.last()

In [31]:
# For each site, we print the number of the users who visited the website.
for site in lastVisitPerUser.site_id.unique():
    print(site, len(lastVisitPerUser[lastVisitPerUser.site_id==site]))

5NPAU 992
N0OTG 561
QGO3G 289
GVOFK 42
3POLC 28
JSUUP 1
RT9Z6 2
EUZ/Q 1

In [46]:
# This is for a test purpose.
# check = sheet1.groupby('user_id').nunique()
# check.loc[check.site_id>2]

#### Q1-4

For each user, determine the first site he/she visited and the last site he/she visited based on the timestamp data. Compute the number of users whose first/last visits are to the same website. What is the number?

In [47]:
# We check users' first-visted website and last visited website.
same = (users.first().site_id == users.last().site_id)

In [48]:
same

user_id
LC00C3     True
LC01C3     True
LC05C3     True
LC06C3     True
LC07C3     True
          ...
LCFC3B     True
LCFC3D     True
LCFC3E     True
LCFEC3    False
LCFFC3     True
Name: site_id, Length: 1916, dtype: bool

In [51]:
# This shows the unique users whose first-visted and last visited websites are the same.
same.loc[same==True]

user_id
LC00C3    True
LC01C3    True
LC05C3    True
LC06C3    True
LC07C3    True
          ...
LCFC38    True
LCFC3B    True
LCFC3D    True
LCFC3E    True
LCFFC3    True
Name: site_id, Length: 1670, dtype: bool

In [53]:
# This is to check the other case.
# same.loc[same==False]

# Explanation

## Q1-1

We extract entries whose 'country_id' is "bdv."  And then, we group those entries by 'site_id', and count the number of unique users per site to check the site_id who has the largest number of unique users

## Q1-2

We first extract the entries that fall under the timezone of our focus. Then, we group the data by 'user_id' and 'site_id.' After that, we can count the number of timestamps per user per site. Finally, we can retrieve the users who visited a certain website more than ten times by filtering the count of 'ts' > 10.

## Q1-3

We group the data by users and create a groupby object. This is a time-series data so the last entry of the object contains the log of the last visit for a user. For each site, we then print the number of the users who visited the website.

## Q1-4

We check users first-visted website using users.first().site_id, based on the same logic of Q1-3. Using the condition users.first().site_id == users.last().site_id, we get a boolean indicator whether users' first-visted website and last visited website are the same. We simply use loc[same==True] to count the incidences of True.

#### Thank you
#### YS